{# template/clients/index.twig #}
{% extends 'admin/layout.twig' %}
{% block title %}Courses{% endblock %}
{% block content %}
    <a href="{{ url_for('clientsCreate') }}" class="btn btn-primary">Add Course</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Title course</th>
                <th>City</th>
                <th>Foreign key</th>
                <th>Image</th>
                <th>Active</th>
                <th>Created at</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% if courses %}
                {% for course in courses %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.city }}</td>
                        <td>{{ course.api_foriegn_key }}</td>

                        <td> <img src="https://kursdentalgu.ru{{ course.img }}" alt="" class="img-responsive" width="100"></td>
                        <td>{{ course.active }}</td>
                        <td>{{ course.created_at }}</td>
                        <td><a href="{{ url_for('coursesEdit', {id: course.id}   ) }}" class="btn btn-success">Edit</a>
                            <form action="{{ url_for('coursesDelete', {id: course.id}   ) }}" method="post" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" name="_METHOD" value="DELETE"/>
                                <input class="btn btn-primary" type="submit" value="Delete" onclick="return confirm('are you sure?')"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}